.App {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
}


.header {
  display: flex;
  justify-content: space-evenly;

}


.app__body {
  padding: 2% 10% 0% 10%;
}

.entries {
  border-top: 2px solid black;
  margin-top: 0.5em;
}

.entries__header{
  display: flex;
}

.tableheader {
  font-weight: 600;
}

.account {
  flex: 1
}
.noti {
  flex: 1
}
.modified{
  flex: 2
}
.pw{
  flex: 1.5;
  display: flex;
  justify-content: center;
}
.ic {
  flex: 1;
}

.create__entry {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.createnew__button{
  outline: none;
  border: 1px solid lightgray;
  background-color: transparent;
  width: 10%;
  min-width: 100px;
  cursor: pointer;
  height: 2em;
  border-radius: 1em;

}

.createnew__button:hover {
  background-color: #282828;
  color: white;
}

